.top-buffer {
	margin-top: 20px;
}

.top-buffer-lg {
	margin-top: 20px;
}

.top-buffer-md {
	margin-top: 10px;
}

.top-buffer-sm {
	margin-top: 5px;
}

.bottom-buffer-lg {
	margin-bottom: 20px;
}

.bottom-buffer-md {
	margin-bottom: 10px;
}

.bottom-buffer-sm {
	margin-bottom: 5px;
}

.panel-btn-right {
	position: relative;
	top: 0px;
	right: 0px;
}

.panel-title-left {
	float: left;
}

.panel-title-lg {
	font-size: 18pt;
}

.top-padding-lg {
	padding-top: 20px;
}