.top-buffer {
	margin-top: 20px;
}

.top-buffer-lg {
	margin-top: 20px;
}

.top-buffer-md {
	margin-top: 10px;
}

.top-buffer-sm {
	margin-top: 5px;
}

.bottom-buffer-lg {
	margin-bottom: 20px;
}

.bottom-buffer-md {
	margin-bottom: 10px;
}

.bottom-buffer-sm {
	margin-bottom: 5px;
}

.panel-btn-right {
	position: relative;
	top: 0px;
	right: 0px;
}

.panel-title-left {
	float: left;
}

.panel-title-lg {
	font-size: 18pt;
}

.top-padding-lg {
	padding-top: 20px;
}

.left-buffer-lg {
	margin-left: 20px;
}

.left-buffer-md {
	margin-left: 10px;
}

.left-buffer-sm {
	margin-left: 5px;
}

.label-well {
	background-color: #1c1e22;
	margin-right: .6em;
}

.label-lg {
	font-size: 85%;
}

.dropshadow-lg {
	box-shadow: 10px 10px 20px -5px #f89406;
}

.dropshadow-md {
	box-shadow: 6px 6px 6px -4px #f89406;
}

.dropshadow-md-gb {
	box-shadow: 6px 6px 6px -4px #f89406;
}

.dropshadow-md-ss {
	box-shadow: 6px 6px 6px -4px #ee5f5b;
}

.dropshadow-md-ff {
	box-shadow: 6px 6px 6px -4px #5bc0de;
}

.well-text-warning {
	color: #f89406;
}