div.rokhos_log_main {
	border: 1px solid #FF0000;
	color: #FF0000;
	background-color: #000000;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 25%;
	height: 20%;
	box-shadow: 5px 5px 5px #888888;
	margin: 0;
	padding: 2px;
	overflow: auto;
}

p.rokhos_log_entry {
	padding: 0;
	margin: 0;
}