<!DOCTYPE html>
<html ng-app="be2" lang="en">
	<head>
		<title>BattleEngine2</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css\slate\bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css\starter-template.css" />
		<link rel="stylesheet" type="text/css" href="css\be2.ang.css" />
	</head>
	<body ng-controller="be2MainController as main">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">BattleEngine 2</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{active:ui.state === ui.states.factions}"><a href="" ng-click="ui.state = ui.states.factions">Factions</a></li>
						<li ng-class="{active:ui.state === ui.states.fleets}"><a href="" ng-click="ui.state = ui.states.fleets">Fleets</a></li>
						<!--<li ng-class="{active:state === states.units}"><a href="" ng-click="state =states.units">Units</a></li>-->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Units <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li ng-class="{active:ui.state === ui.states.units}"><a href="#" ng-click="ui.state = ui.states.units">Actve</a></li>
								<li ng-class="{active:ui.state === ui.states.templates}"><a href="#" ng-click="ui.state = ui.states.templates">Templates</a></li>
							</ul>
						</li>
						<li ng-class="{active:ui.state === ui.states.entities}"><a href="" ng-click="ui.state = ui.states.entities">Officers</a></li>
						<li ng-class="{active:ui.state === ui.states.combat}"><a href="" ng-click="ui.state = ui.states.combat">Combat</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" ng-click="main.saveData()">Save Data</a></li>
								<li><a href="#" ng-click="main.loadData()">Load Data</a></li>
								<li><a href="#" ng-click="main.purgeData()">Purge Data</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		<div class="container" ng-show="ui.state === ui.states.factions">
			<faction-panel></faction-panel>
		</div>
		<div class="container" ng-show="ui.state === ui.states.units">
			<unit-panel></unit-panel>
		</div>
		<div class="container" ng-show="ui.state === ui.states.fleets">
			<fleet-panel></fleet-panel>
		</div>
		<div class="container" ng-show="ui.state === ui.states.combat">
			<combat-panel></combat-panel>
		</div>
		<div class="container" ng-show="ui.state === ui.states.entities">
			<entity-panel></entity-panel>
		</div>
		<div class="container" ng-show="ui.state === ui.states.templates">
			<template-panel></template-panel>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="be2.ang.js"></script>
	</body>
</html>