<div ng-controller="be2CombatController as ctl">
	<div class="row">
		<div class="col-lg-12 cold-md-12 col-sm-12">
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2><span class="glyphicon glyphicon-fire"></span> Combat Simulator</h2>
			<p class="well well-sm">Welcome to the combat simulator!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-default" ng-click="ctl.startCombat()">Start Combat</button>
					<button class="btn btn-default" ng-click="ctl.stopCombat()">Stop Combat</button>
					<button class="btn btn-default disabled">Pause Combat</button>
					<button class="btn btn-default disabled">Reset Combat</button>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="row">
		<!--<div class="col-sm-12 col-md-12 col-lg-12">
			<h4>Combat Progress: {{ui.combat.status}}</h4>
			<uib-progressbar class="progress-striped active" value="ui.combat.progress" type="info"><span ng-show="ui.combat.current > 0">{{ui.combat.current}}/{{ui.combat.max}}</span></uib-progressbar>
		</div>
	</div>-->
	<div class="row top-buffer-md">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><h3 class="panel-title panel-title-lg">Combat Results</h3></div>
				<div class="panel-body">
					<div class="well well-sm" ng-repeat="combat in ui.combat.logs">
						<h4>{{combat.uuid}}</h4>
						<ul>
							<li ng-repeat="round in combat.rounds">
								<h6>Round {{$index+1}}</h6>
								<ul>
									<li ng-repeat="(key,unit) in round.units">
										<span ng-repeat="hit in unit.hits | filter: hitFilter">
											{{key}} fired a {{hit.damageMax}}-pt volley at {{hit.target}} ({{hit.hitRoll}}%) for {{hit.damage}} of {{hit.damageMax}} ({{hit.damageRoll}}%) damage.</span>
										<span ng-repeat="hit in unit.hits | filter: missFilter">
											{{key}} fired at {{hit.target}} and missed ({{hit.hitRoll}}%)
										</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>