<div ng-controller="be2CombatController as combatCtl">
	<div class="row top-buffer">
		<div class="col-sm-12 col-md-4 col-lg-3">
			<a href="#" class="btn btn-default btn-block disabled top-buffer-sm">Combat Status: {{combat.status}}</a>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-3">
			<button class="btn btn-primary btn-block top-buffer-sm" ng-click="combatCtl.startCombat()">Start Combat</button>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-3">
			<button class="btn btn-primary btn-block top-buffer-sm" ng-click="combatCtl.stopCombat()">Stop Combat</<button>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-3">
			<button class="btn btn-primary btn-block top-buffer-sm" ng-click="combatCtl.resetCombat()">Reset Combat</<button>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Combat Results</div>
				<div class="panel-body"><textarea class="form-control" rows="30">{{combat.log}}</textarea></div>
			</div>
		</div>
	</div>
</div>