<div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2><span class="glyphicon glyphicon-user"></span> Graded Officers</h2>
			<p class="well well-sm">This page is for managing graded entities.  Graded entities can be assigned to units as flag officers or to fleets in the same role.</p>
		</div>
	</div>
	<div class="row bottom-buffer-lg">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-primary disabled"><span class="glyphicon glyphicon-plus-sign"></span> Recruite Officer</button>
					<button class="btn btn-default disabled"><span class="glyphicon glyphicon-import"></span> Import Officers</button>
					<button class="btn btn-default disabled"><span class="glyphicon glyphicon-export"></span> Export Officers</button>
					<button class="btn btn-default disabled" ng-click="ctl.showAll()"><span class="glyphicon glyphicon-eye-open"></span> Show All</button>
					<button class="btn btn-default disabled" ng-click="ctl.hideAll()"><span class="glyphicon glyphicon-eye-close"></span> Hide All</button>
					<button class="btn btn-danger disabled"><span class="glyphicon glyphicon-remove-sign"></span> Purge Officers</button>
				</div>
			</div>
		</div>
	</div>
</div>