<div ng-controller="be2FactionController as factionCtl">
	<div id="factionCreateModal" class="modal fade" role="dialog">
		<faction-create-panel></faction-create-panel>
	</div>
	<div class="row top-buffer-lg bottom-buffer-lg">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-toolbar">
				<div class="btn-group">
				<button class="btn btn-primary" data-toggle="modal" data-target="#factionCreateModal">Create Faction</button>
				<button class="btn btn-default disabled">Import Faction</button>
				<button class="btn btn-default disabled">Export Faction</button>
				<button class="btn btn-danger disabled">Purge Factions</button>
			</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="faction in ui.factions">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="btn-group pull-right">
						<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Attach Fleet</a></li>
							<li><a href="#">Remove Fleet</a></li>
							<li class="divider"></li>
							<li><a href="#">Modify Faction</a></li>
							<li><a href="#">Remove Faction</a></li>
						</ul>
					</div>
					<h3 class="panel-title">{{faction.name}}</h3>
				</div>
				<div class="panel-body">
					<div class="col-lg-3">
						<ul class="nav nav-pills nav-stacked" ng-init="facIndex = $index">
							<li ng-class="{active:ui.factions[facIndex].activeFleet === ui.factions[facIndex].fleets[$index]}" ng-repeat="fleet in faction.fleets"><a href="#" ng-click="ui.factions[facIndex].activeFleet = ui.factions[facIndex].fleets[$index]">{{fleet}}</a></li>
						</ul>
					</div>
					<div class="col-lg-9">
						<table class="table table-bordered table-condensed table-hover">
							<thead>
								<tr>
									<th class="col-md-1">#</th>
									<th class="col-md-4">Unit</th>
									<th class="col-md-2">Type</th>
									<th class="col-md-2">Base Hull</th>
									<th class="col-md-2">Max Hull</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="unit in factionCtl.getUnits($index)">
									<td>{{$index}}</td>
									<td>{{unit.unit.name}}</td>
									<td>{{unit.unit.type}}</td>
									<td>{{unit.hull.base}}</td>
									<td>{{unit.hull.max}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>