<div ng-controller="be2FactionController as ctl">
	<faction-create-panel></faction-create-panel>
	<attach-fleet-modal></attach-fleet-modal>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2><span class="glyphicon glyphicon-globe"></span> Factions</h2>
			<p class="well well-sm">This page is used for managing multiple races and/or factions.  Most users will only have one faction here; however, those users who need to can setup and access any number of factions.</p>
		</div>
	</div>
	<div class="row bottom-buffer-lg">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-primary" data-toggle="modal" data-target="#factionCreateModal"><span class="glyphicon glyphicon-plus-sign"></span> Create Faction</button>
					<button class="btn btn-default disabled"><span class="glyphicon glyphicon-import"></span> Import Factions</button>
					<button class="btn btn-default" ng-click="ui.export()"><span class="glyphicon glyphicon-export"></span> Export Factions</button>
					<button class="btn btn-default" ng-click="ctl.showAll()"><span class="glyphicon glyphicon-eye-open"></span> Show All</button>
					<button class="btn btn-default" ng-click="ctl.hideAll()"><span class="glyphicon glyphicon-eye-close"></span> Hide All</button>
					<button class="btn btn-danger" ng-click="ctl.purge()"><span class="glyphicon glyphicon-remove-sign"></span> Purge Factions</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="faction in ui.factions">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-primary dropshadow-md">
				<div class="panel-heading">
					<div class="btn-toolbar pull-right">
						<div class="btn-group">
							<button class="btn btn-success btn-sm" ng-attr-data-faction="{{faction}}" tooltip-placement="auto bottom" uib-tooltip="Attach a fleet to this faction." data-toggle="modal" data-target="#attachFleetModal"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></button>
							<button class="btn btn-default btn-sm" ng-click="ctl.hideAllFleets(faction)" tooltip-placement="auto bottom" uib-tooltip="Hide all fleet information."><span class="glyphicon glyphicon-collapse-up"></span></button>
							<button class="btn btn-default btn-sm" ng-click="ctl.showAllFleets(faction)" tooltip-placement="auto bottom" uib-tooltip="Show all fleet information."><span class="glyphicon glyphicon-collapse-down"></span></button>
						</div>
						<div class="btn-group">
							<button class="btn btn-default btn-sm" ng-class="{active:ui.state.show.factions[faction]}" ng-click="ctl.toggleVisible(faction)" tooltip-placement="auto bottom" uib-tooltip="Show/hide faction information."><span class="glyphicon glyphicon-eye-open"></span></button>
							<button class="btn btn-default btn-sm" ng-click="ctl.toggleEdit()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
							<button class="btn btn-danger btn-sm disabled"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</div>
					</div>
					<h3 class="panel-title panel-title-lg" editable-text="ctl.data.factions[faction].name"></h3>
				</div>
				<div class="panel-body" ng-show="ui.state.show.factions[faction]">
					<p class="well well-sm text-warning" ng-show="ctl.data.factions[faction].description || ctl.editable" editable-text="ctl.data.factions[faction].description"></p>
					<div class="panel panel-default" ng-repeat="fleet in ui.fleets[faction]">
						<div class="panel-heading">
							<div class="btn-toolbar pull-right">
								<div class="btn-group">
									<button class="btn btn-default btn-xs" ng-click="ctl.toggleFleetVisible(faction,fleet.uuid)" ng-class="{active:ui.state.show.fleets[faction][fleet.uuid]}" tooltip-placement="auto bottom" uib-tooltip="Show/hide fleet information."><span class="glyphicon glyphicon-eye-open"></span></button>
									<button class="btn btn-default btn-xs disabled" ng-show="!$first"><span class="glyphicon glyphicon-chevron-up"></span></button>
									<button class="btn btn-default btn-xs disabled" ng-show="!$last"><span class="glyphicon glyphicon-chevron-down"></span></button>
									<button class="btn btn-warning btn-xs" ng-click="ctl.detachFleet(faction,fleet.uuid)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
								</div>
							</div>
							<h3 class="panel-title">{{fleet.name}} - {{fleet.nickname}}</h3>
						</div>
						<div class="panel-body" ng-show="ui.state.show.fleets[faction][fleet.uuid]">
							<p class="well well-sm" ng-show="fleet.description">{{fleet.description}}</p>
						</div>
						<unit-table ng-init="units = ui.units[faction][fleet.uuid]" ng-show="ui.state.show.fleets[faction][fleet.uuid]"></unit-table>
						<div class="panel-footer">
							<span class="pull-right"><code>{{fleet.uuid}}</code></span>
							<span class="label label-primary">Units: {{ctl.fleetInfo(fleet).unitCount}}</span>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span class="pull-right"><code>{{faction}}</code></span>
					<span class="label label-primary">Fleets: {{ctl.countFleets(faction)}}</span> <span class="label label-primary">Units: {{countUnits(faction)}}</span>
				</div>
			</div>
		</div>
	</div>
</div>