<div ng-controller="be2FleetController as fleetCtl">
	<div id="fleetCreateModal" class="modal fade" role="dialog">
		<fleet-create-panel></fleet-create-panel>
	</div>
	<div class="row top-buffer-lg bottom-buffer-lg">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-primary " data-toggle="modal" data-target="#fleetCreateModal">Create Fleet</button>
					<button class="btn btn-default disabled">Import Fleet</button>
					<button class="btn btn-default disabled">Export Fleet</button>
					<button class="btn btn-danger disabled">Purge Fleets</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="fleet in ui.fleets">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-primary" ng-init="fleetInfo = fleetCtl.getFleet(fleet)">
				<div class="panel-heading">
					<div class="btn-group pull-right">
						<a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Attach Unit</a></li>
							<li><a href="#">Remove Unit</a></li>
							<li class="divider"></li>
							<li><a href="#">Modify Fleet</a></li>
							<li><a href="#">Remove Fleet</a></li>
						</ul>
					</div>
					<h3 class="panel-title">{{fleetInfo.name}}</h3>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						{{fleetInfo.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>