<div ng-controller="be2UnitController as ctl">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h2><span class="glyphicon glyphicon-share"></span> Deployed Units</h2>
			<p class="well well-sm">This page is used for managing deployed units.  All deployed units are listed here and it is possible to see damage taken in combat and to calculate repair costs.</p>
		</div>
	</div>
	<div class="row bottom-buffer-lg">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="btn-toolbar">
				<div class="btn-group">
					<button class="btn btn-primary disabled"><span class="glyphicon glyphicon-plus-sign"></span> Deploy Unit</button>
					<button class="btn btn-default disabled"><span class="glyphicon glyphicon-import"></span> Import Units</button>
					<button class="btn btn-default" ng-click="ui.export()"><span class="glyphicon glyphicon-export"></span> Export Units</button>
					<button class="btn btn-default" ng-click="ctl.showAll()"><span class="glyphicon glyphicon-eye-open"></span> Show All</button>
					<button class="btn btn-default" ng-click="ctl.hideAll()"><span class="glyphicon glyphicon-eye-close"></span> Hide All</button>
					<button class="btn btn-danger disabled"><span class="glyphicon glyphicon-remove-sign"></span> Purge Units</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="unit in ui.units">
		<div class="col-lg-12 col-md-12 col-sm-12" ng-init="info = ctl.getUnitInfo(unit)">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-default" ng-class="{active:ui.state.show[unit]}" ng-click="ctl.toggleVisible(unit)"><span class="glyphicon glyphicon-eye-open"></span></button>
							<button type="button" class="btn btn-sm btn-danger disabled"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						</div>
					</div>
					<h3 class="panel-title panel-title-lg">{{info.unit.name}} - '{{info.unit.template.unit.name}}'-class {{info.unit.type}}</h3>
				</div>
				<div class="panel-body" ng-show="ui.state.show[unit]">
					<div class="well well-sm">Detailed information about the unit will be in here.</div>
				</div>
				<div class="panel-footer">
					<span class="pull-right"><code>{{unit}}</code></span>
					<span class="label label-well" ng-class="{'text-danger':info.unit.type==='Starship','text-warning':info.unit.type==='Gunboat','text-info':info.unit.type==='Fighter','text-success':info.unit.type==='Base'}">{{info.unit.type}}</span><span class="label label-primary">Base Hull: {{info.hull.base}}</span><span class="label label-warning left-buffer-sm">Hull: {{info.hull.max}}</span><span class="label label-info left-buffer-sm">Shield: {{info.shield.max}}</span>
				</div>
			</div>
		</div>
	</div>
</div>