<table class="table table-hover">
	<thead>
		<tr><th>Unit</th><th>Type</th><th>Size</th><th>Hull</th><th>Shield</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="unit in units" ng-class="{'text-danger':unit.unit.type === 'Starship','text-warning':unit.unit.type === 'Gunboat','text-info':unit.unit.type === 'Fighter'}"><td>{{unit.unit.name}}</td><td>{{unit.unit.type}}</td><td>{{unit.unit.size}}</td><td>{{unit.hull.current}} ({{unit.hull.max}})</td><td>{{unit.shield.current}} ({{unit.shield.max}})</td></tr>
	</tbody>
</table>