<div class="row">
	<div class="col-sm-12">
		<p class="well">This is the main interface for working with units.  You can import and export units, build new units, and edit existing units.</p>
	</div>
</div>
<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">Import Ship UDL</div>
		<div class="panel-body"><input type="text" value="{{udl}}" /></div>
		<div class="panel-footer">Copy and paste the unit UDL into the text box above.</div>
	</div>
	<div class="col-sm-2 text-right">Enter UDL Here:</div>
	<div class="col-sm-10"><input type="text" value="{{udl}}" />
</div>
<div class="row">
	<span>{{udl}}</span>
</div>